body {
  margin:0;
  padding:0;
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  text-align: left;
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jump-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto; /* Pushes the button to the bottom of the container */
  width: 100%;
}

.jump-button {
  background-color: #3273dc;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.jump-button:hover {
  background-color: #275aa8;
  transform: scale(1.1) rotate(15deg);
}



/* Light Theme */
.theme-light {
  --primary-text-color: #363636; /* Default Bulma text color for light theme */
  --accordion-summary-bg: #ffffff;
  --accordion-summary-bg-hover: #f0f0f0;
  --accordion-summary-bg-open: #f5f5f5;
  --accordion-summary-color: #363636;
  --accordion-border-color: #dbdbdb;
  --accordion-content-color: #4a4a4a;
}

/* Dark Theme */
.theme-dark {
  --primary-text-color: #e0e0e0; /* Lighter text for dark backgrounds */
  --accordion-summary-bg: #363636;
  --accordion-summary-bg-hover: #4a4a4a;
  --accordion-summary-bg-open: #484848;
  --accordion-summary-color: #ffffff;
  --accordion-border-color: #606060;
  --accordion-content-color: #e0e0e0;
}